In [2]:
import pandas as pd
import re
import pickle


def normalize_name(name):
    name = name.lower()
    name = re.sub(r"[.,\/#!$%\^\*;:{}=\_`~()@]", ' ', name)
    name = re.sub(r'\s+', ' ', name).strip()
    return name

vertices = pd.read_json('mpd.epgm/vertices.json', lines=True)
for index, row in vertices.iterrows():
    row['data']['name'] = normalize_name(row['data']['name'])
vertices.head()

,data,id,meta
0,"{'name': 'throwbacks', 'collaborative': 'false...",0,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
1,"{'name': 'awesome playlist', 'collaborative': ...",1,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
2,"{'name': 'korean', 'collaborative': 'false', '...",2,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
3,"{'name': 'mat', 'collaborative': 'false', 'pid...",3,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
4,"{'name': '90s', 'collaborative': 'false', 'pid...",4,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."

In [3]:
playlists = vertices.loc[vertices['meta'].apply(lambda r:r['label']=='playlist')]
playlists.shape
playlists.head()

,data,id,meta
0,"{'name': 'throwbacks', 'collaborative': 'false...",0,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
1,"{'name': 'awesome playlist', 'collaborative': ...",1,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
2,"{'name': 'korean', 'collaborative': 'false', '...",2,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
3,"{'name': 'mat', 'collaborative': 'false', 'pid...",3,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."
4,"{'name': '90s', 'collaborative': 'false', 'pid...",4,"{'label': 'playlist', 'graphs': ['dd062e67b5aa..."

In [4]:
tracks = vertices.loc[vertices['meta'].apply(lambda r:r['label']=='track')]
tracks.shape
tracks.head()

,data,id,meta
1000,{'name': 'lose control feat ciara & fat man sc...,1000395,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
1001,"{'name': 'toxic', 'duration_ms': 198800}",1005119,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
1002,"{'name': 'crazy in love', 'duration_ms': 235933}",1004095,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
1003,"{'name': 'rock your body', 'duration_ms': 267266}",1008155,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
1004,"{'name': 'it wasn't me', 'duration_ms': 227600}",1000702,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."

In [5]:
artists = vertices.loc[vertices['meta'].apply(lambda r:r['label']=='artist')]
artists.shape
artists.head()

,data,id,meta
54704,{'name': 'missy elliott'},spotify:artist:2wIVse2owClT7go1WT98tk,"{'label': 'artist', 'graphs': ['dd062e67b5aa4f..."
54705,{'name': 'britney spears'},spotify:artist:26dSoYclwsYLMAKD3tpOr4,"{'label': 'artist', 'graphs': ['dd062e67b5aa4f..."
54706,{'name': 'beyoncé'},spotify:artist:6vWDO969PvNqNYHIOW5v0m,"{'label': 'artist', 'graphs': ['dd062e67b5aa4f..."
54707,{'name': 'justin timberlake'},spotify:artist:31TPClRtHm23RisEBtV3X7,"{'label': 'artist', 'graphs': ['dd062e67b5aa4f..."
54708,{'name': 'shaggy'},spotify:artist:5EvFsr3kj42KNv97ZEnqij,"{'label': 'artist', 'graphs': ['dd062e67b5aa4f..."

In [6]:
albums = vertices.loc[vertices['meta'].apply(lambda r:r['label']=='album')]
albums.shape
albums.head()

,data,id,meta
35443,{'name': 'the cookbook'},spotify:album:6vV5UrXcfyQD1wu4Qo2I9K,"{'label': 'album', 'graphs': ['dd062e67b5aa4fb..."
35444,{'name': 'in the zone'},spotify:album:0z7pVBGOD7HCIB7S8eLkLI,"{'label': 'album', 'graphs': ['dd062e67b5aa4fb..."
35445,{'name': 'dangerously in love alben für die ew...,spotify:album:25hVFAxTlDvXbx2X2QkUkE,"{'label': 'album', 'graphs': ['dd062e67b5aa4fb..."
35446,{'name': 'justified'},spotify:album:6QPkyl04rXwTGlGlcYaRoW,"{'label': 'album', 'graphs': ['dd062e67b5aa4fb..."
35447,{'name': 'hot shot'},spotify:album:6NmFmPX56pcLBOFMhIiKvF,"{'label': 'album', 'graphs': ['dd062e67b5aa4fb..."

In [7]:
edges = pd.read_json('mpd.epgm/edges.json', lines=True)
edges.head()

,data,id,meta,source,target
0,{},db70a801d9b144b787953c72874bac55,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,987
1,{},3668a73233f748478f63573f09e5f5b5,"{'label': 'playlist_to_track', 'graphs': ['dd0...",987,1000000
2,{},0c7e7ee3766c4966ae8127296f15dba4,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,14
3,{},6ba48b7a10a14f4f983c5b6bb03f435f,"{'label': 'playlist_to_track', 'graphs': ['dd0...",14,1000000
4,{},6df72840389a487780fdae7b4456622d,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,0

In [8]:
all_playlist_to_track = edges.loc[edges['meta'].apply(lambda r:r['label']=='playlist_to_track')]
all_playlist_to_track.head()

# all_playlist_to_track.loc[all_playlist_to_track['source'].apply(lambda r:r==0)]

,data,id,meta,source,target
1,{},3668a73233f748478f63573f09e5f5b5,"{'label': 'playlist_to_track', 'graphs': ['dd0...",987,1000000
3,{},6ba48b7a10a14f4f983c5b6bb03f435f,"{'label': 'playlist_to_track', 'graphs': ['dd0...",14,1000000
5,{},e0fa0106e961495a946f06992923eccb,"{'label': 'playlist_to_track', 'graphs': ['dd0...",0,1000000
7,{},3480582d42214d35a8ecc25d6385e4d0,"{'label': 'playlist_to_track', 'graphs': ['dd0...",334,1000000
9,{},089651cb8dbc4e7180f9626ecdfef0ed,"{'label': 'playlist_to_track', 'graphs': ['dd0...",245,1000000

In [9]:
all_track_to_playlist = edges.loc[edges['meta'].apply(lambda r:r['label']=='track_to_playlist')]
all_track_to_playlist.head()

,data,id,meta,source,target
0,{},db70a801d9b144b787953c72874bac55,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,987
2,{},0c7e7ee3766c4966ae8127296f15dba4,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,14
4,{},6df72840389a487780fdae7b4456622d,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,0
6,{},5a4624a2305b41d198f3fc1ef53e0486,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,334
8,{},74d8c93df1544397a7f85db9b8a2f225,"{'label': 'track_to_playlist', 'graphs': ['dd0...",1000000,245

In [10]:
all_track_to_artist = edges.loc[edges['meta'].apply(lambda r:r['label']=='track_to_artist')]
all_track_to_artist.head()

,data,id,meta,source,target
28,{},3f9aae41a622437baa07fd50961ef2ec,"{'label': 'track_to_artist', 'graphs': ['dd062...",1000000,6FBDaR13swtiWwGhX1WQsP
34,{},66e236885fe448d48ddda59eecefef91,"{'label': 'track_to_artist', 'graphs': ['dd062...",1000001,2HPaUgqeutzr3jx5a9WyDV
56,{},a82b7f95b12e4062b4f5dfc1616eb0c0,"{'label': 'track_to_artist', 'graphs': ['dd062...",1000002,3sgFRtyBnxXD5ESfmbK4dl
62,{},6c250e139f0f447a9eb2b44abb3e04ef,"{'label': 'track_to_artist', 'graphs': ['dd062...",1000003,23NIwARd4vPbxt3wwNnJ6k
68,{},046f530f3098413bbf60aec664d5d03a,"{'label': 'track_to_artist', 'graphs': ['dd062...",1000004,4YrKBkKSVeqDamzBPWVnSJ

In [11]:
all_track_to_album = edges.loc[edges['meta'].apply(lambda r:r['label']=='track_to_album')]
all_track_to_album.head()

,data,id,meta,source,target
26,{},1ad4cc3580894a53bfb87209fafdf28e,"{'label': 'track_to_album', 'graphs': ['dd062e...",1000000,1fF8kYX49s5Ufv4XEY5sjW
32,{},79d779848ac94e0a845911285f730547,"{'label': 'track_to_album', 'graphs': ['dd062e...",1000001,6s2isojT7rGZUgJyymjjKU
54,{},c92605c8499f4a3fb0fab1c6f435708a,"{'label': 'track_to_album', 'graphs': ['dd062e...",1000002,7qtQYJc0H6s3CK4c7Gp8GR
60,{},12888f52e6454e38a223b5e4529c56e6,"{'label': 'track_to_album', 'graphs': ['dd062e...",1000003,0Zj7AxTX3Q312lz6GLFTrt
66,{},e1468efd9c604ddb89dc75b656643dee,"{'label': 'track_to_album', 'graphs': ['dd062e...",1000004,1Fmve6G1q6kFRYceGttj18

In [12]:
linktracks = all_playlist_to_track.loc[all_playlist_to_track['source'].apply(lambda r:r==0)]
selected_tracks = tracks.loc[tracks['id'].isin(linktracks['target'])]
track = selected_tracks.head(1)
artist_id = all_track_to_artist.loc[all_track_to_artist['source']==track.id.values[0]]
album_id = all_track_to_album.loc[all_track_to_album['source']==track.id.values[0]]
artist_name = artists.loc[artists['id']==('spotify:artist:'+artist_id.target.values[0])]
albums_name = albums.loc[albums['id']==('spotify:album:'+album_id.target.values[0])]
albums_name['data'].values[0]['name']
# albums_name['data']['name']

'the cookbook'

In [21]:
texts = []
for index, row in playlists.iterrows():
    texts.append(row['data']['name'])
    linktracks = all_playlist_to_track.loc[all_playlist_to_track['source'].apply(lambda r:r==row['id'])]
    selected_tracks = tracks.loc[tracks['id'].isin(linktracks['target'])]
    for index, track in selected_tracks.iterrows():
        texts.append(track['data']['name'])
        artist_id = all_track_to_artist.loc[all_track_to_artist['source']==track.id]
        album_id = all_track_to_album.loc[all_track_to_album['source']==track.id]
        artist_name = artists.loc[artists['id']==('spotify:artist:'+artist_id.target.values[0])]
        albums_name = albums.loc[albums['id']==('spotify:album:'+album_id.target.values[0])]
        texts.append(artist_name['data'].values[0]['name'])
        texts.append(albums_name['data'].values[0]['name'])

open('listfile.txt', 'a').write(' '.join(texts) + '\n')

3185599

In [100]:
selected_tracks.head()

,data,id,meta
1888,"{'name': 'ivy', 'duration_ms': 249191}",1005867,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
2630,"{'name': 'coming over - filous remix', 'durati...",1005774,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
3076,"{'name': 'say you won't let go', 'duration_ms'...",1006449,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
7881,"{'name': 'you and i', 'duration_ms': 148400}",1003699,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."
9513,"{'name': 'fragile feat wrenn', 'duration_ms': ...",1006073,"{'label': 'track', 'graphs': ['dd062e67b5aa4fb..."